@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body{
    background:var(--body-color);
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: var(--navbg-color);
    z-index:100;
}
nav .navbar{
    height: 100%;
    max-width: 1250px;
    margin:auto;
    display:flex;
    border-color:var(--bor-color);
    justify-content: space-between;
    /* padding: 0 50px; */
}
nav .navbar .logo {
    color:var(--nav-color);
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    padding: 30px 20px 20px 20px;
    font-family:'Share Tech Mono', monospace;
}
nav .navbar .navlinks{
    height:100%;
    /* line-height: 20 px; */
}
nav .navbar .navlinks .links{
    display: flex;
}
nav .navbar .navlinks .links li {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 0 0;
    height:100%;
    color:var(--nav-color);
    text-decoration: none;
    /* white-space: nowrap; */
    font-size: 25px;
    font-weight: 600;
    font-family:'Share Tech Mono', monospace;
}
nav .navbar .navlinks .links li button {
    position:absolute;
    margin-top:-5px;
    border:  1px solid var(--border-color);
    color: var(--modebutton-color);
    cursor: pointer;
    padding: 7px 5px 5px 5px;
    background-color:transparent;
    /* box-shadow: inset 0 0 0 0 #edfd12; */
    border-radius: 20px;
    font-size: 20px;
    font-weight:400;
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
  }
  
  button:hover {
    border: 2px solid var(--border-color);
    box-shadow: inset 90px 0 0 0 var(--trans-color);
    /* color: var(--button-texta); */
    text-shadow: 1px 0 var(--body-color), -1px 0 var(--body-color), 0 1px var(--body-color),0 -1px var(--body-color);
  }

.type h1{
    color:var(--text-color);
    text-decoration:none;
    margin-top:150px;
    text-align:center;
}

.search-box{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin-top: 100px;
    box-shadow:none;
}

.search-box input[type="text"]{
    border: 0px !important;
    padding: 10px 20px;
    margin-right: 0;
    border-radius: 30px 0px 0px 30px;
    /* box-shadow: 0 2px 10px 0 var(--navbg-color); */
    width: 40vw;
    font-size: 1rem; 
    font-family:'Share Tech Mono', monospace;
}

.search-box input:focus {
    outline: none;
}

#tap{
    cursor: pointer;
    border: 0;
    background-color: var(--navbg-color);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 30px 30px 0px;
    box-shadow:0 2px 5px 0 var(--navbg-color);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
}
.navbar .bx-menu,
.navlinks .respo .name,
.navlinks .respo .bx-x{
    display:none;
}

.display-data-container {    
    display:none;
   background-color: var(--background-color);
   border-radius: 12px;
   margin: 2rem;
   border: 1px solid var(--borderdata-color);
   padding: 12px;
   /* box-shadow: 4px 3px 6px 1px rgba(69, 74, 80, 0.7); */
}

.display-data p{
   padding: 5px 10px;
   font-size: 1.3rem;
   margin-bottom: 10px;
   width: 400px;
   display: flex;
   align-items: center;
   color:var(--bor-color);
   font-family:'Share Tech Mono', monospace;
}

.display-data b {
   margin-right: 10px;
   /* color: var(--button-text); */
}
@media(max-width:800px){
    nav .navbar .navlinks{
        display: block;
        position: fixed;
        overflow-y:auto;
        left:-100%;
        width:100%;
        max-width: 240px;
        background:var(--navbg-color);
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
        z-index: 100;
    }
    nav .navbar .logo {
        display: block;
        font-size: 20px;
        justify-content: center;
        padding: 30px 20px 20px 20px;
    }
    nav .navbar .bx-menu{
        padding: 30px 20px 20px 20px;
        font-size:30px;
        display:block;
    }
    nav .navbar .navlinks .respo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .navbar .bx-menu, */
    .navlinks .respo .name,
    .navlinks .respo .bx-x{
        display:block;
        color:var(--text-color);
        font-size: 30px;
        font-weight: 500;
    }
    nav .navbar .navlinks .links{
        display: block;
        margin-top: 20px;
    }
    nav .navbar .navlinks .links li{
        display: block;
        border-bottom: none;
    }
    .display-data p{
        font-size: 1rem;
    }
}
@media(max-width:320px){
    .display-data p{
        font-size: 0.68rem;
    }
}
.com{
    display: flex;
    flex-direction:row;
    justify-content: center;   
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
input[type="text"]{
    border: 0px !important;
    padding: 10px 20px ;
    margin-right: 0;
    /* border-radius: 30px 0px 0px 30px; */
    box-shadow: 0 2px 5px 0 var(--navbg-color);
    width: 20vw;
    font-size: 1rem; 
}

input:focus {
    outline: none;
}
.search-box1 input[type="text"]{
    border-radius: 30px 0 0 30px; 
}
.search-box2 input[type="text"]{
    border-radius: 0 30px 30px 0; 
}

.cute{
    display: flex;
    justify-content: center;
}
#compa{
    margin-top:40px;
    cursor: pointer;
    border: 0;
    background-color: var(--navbg-color);
    padding: 10px 10px 10px 10px;
    border-radius: 30px 30px 30px 30px;
    box-shadow:0 2px 10px 0 var(--navbg-color);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    font-family:'Share Tech Mono', monospace;
}

:root{
    --navbg-color:#e29578;
    --bor-color:black;
    --nav-color:black;
    --search-color:black;
    --text-color:black;
    --body-color:beige;
    --modebutton-color:rgb(7, 7, 7);
    --border-color:black;
    --trans-color:black;
    --background-color:beige;
    --borderdata-color:#e29578;
    --shadow-color:rgba(69, 74, 80, 0.7);
    --shadow2-color:rgba(69, 74, 80, 0.7);
}
html[data-theme='light'] {
    --navbg-color:#e29578;
    --bor-color:black;
    --nav-color:black;
    --search-color:black;
    --text-color:black;
    --body-color:beige;
    --modebutton-color:rgb(7, 7, 7);
    --border-color:black;
    --trans-color:black;
    --background-color:beige;
    --borderdata-color:#e29578;
    --shadow-color:rgba(69, 74, 80, 0.7);
    --shadow2-color:rgba(69, 74, 80, 0.7);
}
html[data-theme='dark'] {
    --navbg-color:#00b4d8;
    --bor-color:white;
    --nav-color:beige;
    --search-color:#ffddd2;
    --text-color:lightcyan;
    --body-color:black;
    --modebutton-color:beige;
    --border-color:rgb(252, 252, 252);
    --trans-color:beige;
    --background-color:black;
    --borderdata-color:#0070f3;
    --shadow-color:white;
    --shadow2-color:#0070f3;
}
[data-theme='light'] .d-block-light{
    display:block;
  }
  [data-theme='dark'] .d-block-dark{
    display:block !important;
  }
  [data-theme='light'] .d-block-dark{
    display:none;
  } 
  [data-theme='dark'] .d-block-light{
    display:none;
  }
  
#theme-toggle{
    cursor:pointer;
    position:relative;
    height:40px;
    width:40px;
    border-radius: 50%;
}
.graph,.together{
    flex-wrap:wrap;
    justify-content: space-around;
    display: flex;
}
.card1,.card2,.card3,.card4,.card5,.card6{
    width:500px;
    display:none;
    /* width:250px;  */
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--borderdata-color);
    border-radius: 10px;
    transition:  border-color 0.5s ease;
    /* max-width:500px; */
    /* width:100%;
    height:100%; */
    z-index:1;
}
.display-data-container:hover,
.card1:hover,
.card2:hover,
.card3:hover,
.card1:focus,
.card2:focus,
.card3:focus,
.card1:active,
.card2:active,
.card3:active,
.card4:hover,
.card4:focus,
.card4:active,
.card5:hover,
.card5:focus,
.card5:active,
.card6:hover,
.card6:focus,
.card6:active{
  border-color: var(--border-color);
  transform: scale(1.02);
}
  

.tagcont,.alone,.barcont,.barcont1{
    display:flex;
    justify-content: center;
}
/* .card:hover{
    transform:translateX(20);
    text-shadow:none;
    color:black;
} */
/* .warn{
    display:flex;
} */
